
@media (max-width: 85em) {

  /* .navigation {
    display: none;
    position: fixed;
    padding: 2rem;
    inset: 7rem 2rem auto;
    max-width: 25rem;
    margin-left: auto;
    border-radius: .5rem;
    background: #ffffff;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }

  .header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-links {
    display: grid;
    gap: 2rem;
    text-align: center;
    font-weight: 500;
  }

  .nav-links a {
    color: #000000;
  }

  .nav-links a:hover {
    color: #BC3326;
  }

  .navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display:block;
    position: fixed;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
  
  .mobile-nav-toggle .icon-close {
    display: none;
  } */

  header {
    padding: 1rem;
  }

  label {
    display: initial;
  }

  .nav-bar {
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: none;
    box-shadow: 0 .5rem 1.5rem #0000001a;
    
  }
  
  .nav-bar ul li {
    width: 100%;
  }
  
  .nav-bar ul li ul {
    position: relative;
    width: 100%;
  }
  
  .nav-bar ul li ul li {
    background: #eeeeee;
  }
  
  .nav-bar ul li ul li ul {
    background: #eeeeee;
    width: 100%;
    left: 0;
  }
  
  #menu-bar:checked ~ .nav-bar {
    display: initial;
  }

  nav-bar button {
    display: none;
  }

}


@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

}



  
