
@media (max-width: 85em) {

  header {
    padding: 1rem;
  }

  label {
    display: initial;
  }

  .nav-bar {
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: none;
    box-shadow: 0 .5rem 1.5rem #0000001a;
    
  }
  
  .nav-bar ul li {
    width: 100%;
  }
  
  .nav-bar ul li ul {
    position: relative;
    width: 100%;
  }
  
  .nav-bar ul li ul li {
    background: #eeeeee;
  }
  
  .nav-bar ul li ul li ul {
    background: #eeeeee;
    width: 100%;
    left: 0;
  }
  
  #menu-bar:checked ~ .nav-bar {
    display: initial;
  }

  nav-bar button {
    display: none;
  }

}


@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

}



  
