/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik:wght@900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* html {
  scroll-padding-top: var(--scroll-padding, 50px);
} */


html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  cursor: default;
  background-color: var(--body-color);
}

body.dark {
    --body-color:#0B0B0B;
    --nav-color: #121212;
    --text-color: #ffffff;
    --p-color: #808080;
    --logo-color: #ffffff;
    --nav-hover:  #f7f6f6f7;
    --title-color: #ffffff;
    --border-color:  #BC3326;
    --backround-color: #1B1B1B;
    --dropdown-color:#1B1B1B;
  }
  

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITY CLASSES */

:root {
  --body-color: #ffffff;
  --nav-color: #ffffff;
  --side-nav: #ffffff;
  --text-color: #000000;
  --p-color: #808080;
  --logo-color:  #BC3326;
  --nav-hover:  #f7f6f6f7;
  --title-color: #000000;
  --border-color: #BC3326;
  --backround-color:#ffffff;
  --dropdown-color:#FBFBFB;
}


/* GENERAL */

p {
  color: var(--p-color);
}

html {
  scroll-behavior: smooth;
  transition: all 300ms ease;
}

a, .btn {
  transition: all 300ms ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--text-color);
}

/* LOGO */

.logo-container {
  align-items: center;
  display: flex;
  gap: .5rem;
}

.logo {
  font-family: 'Rubik', sans-serif;;
  font-size: 1.7rem;
  color: var(--logo-color);
  text-decoration: none;
}

.logo-pic {
  height: 3rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.btn {
  
  font-weight: 600;
  background-color:#D44E28;
  color: white;
  padding: 1rem;
  line-height: 1;
  border-radius: 2rem;
  border-color: #D44E28;
  border-style: solid;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

/* **** */

.container-1 {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: 100;
}

/* NAV */
.nav {
  height: 3.5rem;
}
 
.nav__burger, 
.nav__close {
  color: var(--text-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-family: 'Rubik', sans-serif;;
  color: var(--logo-color);
  font-size: 1.5rem;
}

.nav__logo img {
  height: 3rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* DARK MODE */

.dark__mode {
  display: flex;
  height: 100%;
  align-items: center;
}

.dark__mode i {
  font-size: 1.5rem;
  position: absolute;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--text-color);
}

.dark__mode .sun {
  opacity: 0;
  pointer-events: none;
}

.dark__mode.active .sun {
  opacity: 1;
  pointer-events: auto;
}

.dark__mode.active .moon {
  opacity: 0;
  pointer-events: none;
}


/* SECTIONS */

section {
  /* height: 100%; */
  padding-top: 8rem;
  /* padding-block: 2rem; */
  padding-inline: 1rem;
}

.container {
  max-width: 71rem;
  padding: 1rem;
  margin-inline: auto;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.profile-pic {
  height: 19rem;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.sub-heading {
  color: var(--text-color);
}


/* HERO */

#hero {
  height: 100vh;
  display: grid;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
  color: var(--title-color);
  
}

.hero-p1 {
  font-size: 1rem;
}

/* ROADMAP */

#roadmap {
  background-image: url("./img/roadmap/roadmap-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 75%;
  height: 70rem;
  margin: auto; 
  margin-top: 5rem;
  border-radius: 1rem;
}

.roadmap-title{
  color: white;
  font-weight: 400;
}

.roadmap-date {
  color: white;
  font-weight: 500;
}

#roadmap h2, 
#roadmap p,
#roadmap li{
  color: white;
}

.roadmap-flex {
  display: flex;
  justify-items: center;
}


/* OWNCHAIN */

.ownchain-even-columns {
  box-shadow: 0 .5rem 1.5rem #0000001a;
  padding: 2rem;
  border-radius: 1rem;
  border: #BC3326;
  border-style: solid;
  border-width: 1px;
  background-color: var(--backround-color);
}

/* FEATURES */

.features-box {
  padding: 2rem;
}

.features-title {
  font-size: 2rem;
}

.features-title,
.features-box h2,
.features-box p, 
.features-box i {
  color: var(--logo-color);
}

.features-box i {
  font-size: 2rem;
}

/* EVENT */

.event-box {
  box-shadow: 0 .5rem 1.5rem #0000001a;
  padding: 2.5rem;
  margin-top: 2.5rem;
  border-radius: 1rem;
  background-color: var(--backround-color);
}

/* COMMUNITY */

.community-box {
  box-shadow: 0 .5rem 1.5rem #0000001a;
  padding: 5rem;
  border-radius: 1rem;
  background-color: var(--backround-color);
}


/* TEAM */

.team-box {
  display: grid;
  place-items: center;
  box-shadow: 0 .5rem 1.5rem #0000001a;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-color: var(--backround-color);
}

/* .team-box:hover {
  border: 1px var(--border-color) solid;
} */

.socials {
  font-size: 1.9rem;
}

.socials a {
  color:var(--text-color);
  text-decoration: none;
}

.socials a:hover {
  color: #BC3326;

}

/* MEDIA QUERIES */


@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: white;
  }
}

.nav__link {
  color: var(--text-color);
  background-color: var(--nav-color);
  font-weight:500;
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav__link:hover {
  opacity: 0.6;
}

/* SHOW MENU */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* SHOW ICON */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* DROPDOWN */
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--text-color);
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--dropdown-color) ;
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
  background-color: white;
}

/* SHOW DROPDOWN AND SUBMENU */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
  
}

/* ROTATE DROPDOWN ICON */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/* DROPDOWN SUBMENU */
.dropdown__add {
  margin-left: auto;
}

/* .dropdown__sublink {
  background-color: var(--black-color-lighten);
} */


/* FOR SMALL DEVICES */
@media screen and (max-width: 340px) {
  .container-1 {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container-1 {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* SHOW DROPDOWN MENU */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* SHOW DROPDOWN SUBMENU */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}

@media (min-width: 800px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

}



